<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> edit room </h2>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <!-- <input type="text" name="roomname" placeholder="room name"  value="{{room.room_name}}" required>
    <br><br>
    <input type="number" name="adult_oc" placeholder="adult occupancy"  value="{{room.occupancy_for_adult}}" required>
    <br><br>
    <input type="number" name="adult_pr" placeholder="price for adult"  value="{{room.price_for_adult}}" required>
    <br><br>
    <input type="number" name="child_oc" placeholder="child occupancy"  value="{{room.occupancy_for_child}}" >
    <br><br>
    <input type="number" name="child_pr" placeholder="price for adult"  value="{{room.price_for_child}}" >
    <br><br>
    <span>room image</span>
    <img src="{{room.room_image.url}}" height="50px" width="50px">
    <br>
    add new image
    <input type="file" name="room_image">
    <br><br> -->
    <input type="submit" value="edit room">
    <br>
    <br>
    <a href="{% url 'dash' %}">back</a>
</form>
</body>
</html>